@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  transition: 0.3s ease-in-out;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

nav ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

main {
  font-family: "Bai Jamjuree", sans-serif;
}

.section {
  height: 100vh;
  width: 100%;
}

.one {
  background: url("../../images/bg-header-desktop.png") no-repeat;
  text-align: center;
}
.one img {
  margin: 0rem auto 3rem auto;
  padding-top: 8rem;
}
.one h3 {
  color: hsl(210, 10%, 33%);
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.one p {
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 400;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.one .link a:first-of-type {
  font-size: 18px;
  background-color: hsl(171, 66%, 44%);
  border-radius: 2.7rem;
  color: white;
  padding: 1rem 1.8rem 1rem 1.8rem;
  box-shadow: 5px 20px 35px -20px hsl(171, 66%, 44%);
  margin-right: 1rem;
}
.one .link a:first-of-type:hover {
  background-color: #2acfb7;
  cursor: pointer;
}
.one .link a:last-child {
  font-size: 18px;
  background-color: hsl(233, 100%, 69%);
  border-radius: 2.7rem;
  color: white;
  padding: 1rem 1.8rem 1rem 1.8rem;
  box-shadow: 5px 20px 35px -20px hsl(233, 100%, 69%);
}
.one .link a:last-child:hover {
  background-color: #7a8aff;
  cursor: pointer;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.two #first {
  text-align: center;
}
.two #first h3 {
  color: hsl(210, 10%, 33%);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.two #first p {
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 400;
  width: 53%;
  margin: 0 auto;
}

.three #text-block {
  display: flex;
  gap: 7rem;
}
.three #text-block img {
  max-width: 40rem;
}
.three #text-block .flex-one {
  display: flex;
  flex-direction: column;
  width: 22rem;
  margin-top: 1.5rem;
  height: 25rem;
  justify-content: space-around;
}
.three #text-block .flex-one #para-block p:first-child {
  color: hsl(210, 10%, 33%);
  font-size: 23px;
  font-weight: 600;
}
.three #text-block .flex-one #para-block p:last-child {
  color: hsl(201, 11%, 66%);
  font-size: 16px;
  font-weight: 400;
}

.four img {
  max-width: 50rem;
  margin: 0 auto;
}
.four .block-one {
  text-align: center;
}
.four .block-one h3 {
  color: hsl(210, 10%, 33%);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.four .block-one p {
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 400;
  width: 53%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.five {
  display: flex;
  flex-direction: column;
}
.five .block-one {
  text-align: center;
}
.five .block-one h3 {
  color: hsl(210, 10%, 33%);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 7rem;
}
.five .block-one p {
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 400;
  width: 53%;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.five .p {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /*
  .p-block:nth-child(1){
      & p:last-child{
          width:22rem;
      }
  }

  .p-block:nth-child(2){
      & p:last-child{
          width:22rem;
      }
  }

  .p-block:nth-child(3){
      & p:last-child{
          width:22rem;
      }
  }*/
}
.five .p .p-block {
  text-align: center;
}
.five .p .p-block img {
  margin: 0 auto 3rem auto;
}
.five .p .p-block .head {
  color: hsl(210, 10%, 33%);
  font-size: 23px;
  font-weight: 600;
}
.five .p .p-block p:last-child {
  color: hsl(201, 11%, 66%);
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
  width: 22rem;
}

.six {
  text-align: center;
}
.six .images {
  display: flex;
  justify-content: space-around;
}
.six .images .img-one {
  background: url("../../images/logo-google.png") no-repeat;
  width: 13%;
  height: 55px;
}
.six .images .img-two {
  background: url("../../images/logo-ibm.png") no-repeat;
  width: 13%;
  height: 55px;
}
.six .images .img-three {
  background: url("../../images/logo-microsoft.png") no-repeat;
  width: 13%;
  height: 55px;
}
.six .images .img-four {
  background: url("../../images/logo-hp.png") no-repeat;
  width: 13%;
  height: 55px;
}
.six .images .img-five {
  background: url("../../images/logo-vector-graphics.png") no-repeat;
  width: 13%;
  height: 55px;
}
.six .images .img-three {
  margin-top: 0.5rem;
}
.six .images .img-five {
  margin-top: 0.7rem;
}
.six .block-two h3 {
  color: hsl(210, 10%, 33%);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 6rem;
}
.six .block-two p {
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 400;
  width: 53%;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.six .link a:first-of-type {
  font-size: 18px;
  background-color: hsl(171, 66%, 44%);
  border-radius: 2.7rem;
  color: white;
  padding: 1rem 1.8rem 1rem 1.8rem;
  box-shadow: 5px 20px 35px -20px hsl(171, 66%, 44%);
  margin-right: 1rem;
}
.six .link a:first-of-type:hover {
  background-color: #2acfb7;
  cursor: pointer;
}
.six .link a:last-child {
  font-size: 18px;
  background-color: hsl(233, 100%, 69%);
  border-radius: 2.7rem;
  color: white;
  padding: 1rem 1.8rem 1rem 1.8rem;
  box-shadow: 5px 20px 35px -20px hsl(233, 100%, 69%);
}
.six .link a:last-child:hover {
  background-color: #7a8aff;
  cursor: pointer;
}

.seven {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: hsl(0, 20%, 95%);
}
.seven img {
  width: 4rem;
  height: 4rem;
}
.seven .link {
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1;
  width: 35%;
  gap: 3rem;
  row-gap: 1rem;
  line-height: -4rem;
}
.seven .link a:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.seven .socials {
  display: flex;
}
.seven .socials p:hover {
  filter: brightness(0) saturate(100%) invert(51%) sepia(82%) saturate(361%) hue-rotate(122deg) brightness(100%) contrast(97%);
  cursor: pointer;
}
.seven .socials .social-facebook {
  background: url("../../images/icon-facebook.svg") no-repeat;
  width: 3rem;
  height: 2rem;
}
.seven .socials .social-twitter {
  background: url("../../images/icon-twitter.svg") no-repeat;
  width: 3rem;
  height: 2rem;
}
.seven .socials .social-instagram {
  background: url("../../images/icon-instagram.svg") no-repeat;
  width: 3rem;
  height: 2rem;
}

@media screen and (max-width: 800px) {
  .three #text-block {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .three #text-block img {
    align-self: center;
    width: 90%;
  }
  .three #text-block .flex-one {
    flex-direction: row;
    width: 100%;
    margin-top: 1.5rem;
    height: 9rem;
    text-align: center;
  }
}
@media screen and (max-width: 800px) and (max-width: 600px) {
  .three #text-block .flex-one {
    flex-direction: column;
  }
  .three #text-block .flex-one p:last-child {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .four img {
    max-width: 100%;
  }
  .four h3 {
    margin-top: 3rem;
  }
  .five .p {
    flex-direction: column;
  }
  .five .p .p-block p:last-child {
    width: 20rem;
    margin: 0 auto 2rem auto;
  }
  .six .images {
    flex-direction: column;
    margin-top: 20rem;
    gap: 2rem;
  }
  .six .images p[class^=img] {
    width: 15rem;
    height: 5rem;
    align-self: center;
    margin-left: 4rem;
  }
  .seven {
    margin-top: 20rem;
  }
  .seven img {
    width: 2rem;
    height: 2rem;
  }
  .seven .link {
    width: 45%;
  }
}
@media screen and (max-width: 450px) {
  .one .link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin: 0 auto;
  }
  .one .link a:first-of-type {
    margin-right: 0rem;
  }
  .six .link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 0.8rem 5rem 0.8rem 5rem;
    margin: 0 auto;
  }
  .six .link a:first-of-type {
    margin-right: 0rem;
  }
  .seven {
    margin-top: 30rem;
    flex-direction: column;
    height: 50vh;
  }
  .seven img {
    width: 4rem;
    height: 4rem;
  }
  .seven .link {
    width: 45%;
  }
  .seven .link a {
    margin: 0 auto;
  }
}